---
import type { Category, Link } from "../../domain/entities/common";
import LinkButton from "../../components/common/button/LinkButton.astro";
import Tag from "../../components/common/tag/Tag.astro";
import ProjectDetail from "./ProjectDetail.astro";

interface Props {
  title: string;
  caseDetails: string;
  solutionDetails: string;
  categories: Category[];
  socialLinks: Link[];
}

const { caseDetails, solutionDetails, categories, socialLinks } =
  Astro.props as Props;
---

      <section class="kd-section-x-p bg-primary-gray rounded-b-3xl  relative z-10 pt-10 lg:pt-32 ">
           <div class="container mx-auto">
             <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
               <ul class="flex flex-wrap gap-2 mb-4 items-center">
                 {categories.map((category) => {
                    return <Tag text={category.name}  />;
                  })}
               </ul>
               <ProjectDetail title={"The Case"} details={caseDetails}/>
               <ProjectDetail title={"Our Solution"} details={solutionDetails}/>
             </div>

               <ul class="flex flex-wrap gap-7 mb-4 items-center mt-16 justify-end">
                 {socialLinks && socialLinks.length > 0 && (
                 <>
                      <li class="text-sm font-medium">Hey! You can also find me at</li>
                      {socialLinks.map((link) => {
                      return <li>
                        <LinkButton
                        link={link.url}
                        text={link.name}
                        className="text-sm font-medium"
                        classNameIcon="w-[11px] h-[11px]"
                        />
                      </li>
                  })}
                 </>
                 )}
               </ul>
           </div>
      </section>
