---
import Layout from "../components/layout/Layout.astro";
import Hero from "../views/homepage/Hero.astro";
import About from "../views/homepage/About.tsx";
import WhatWeDo from "../views/homepage/WhatWeDo.tsx";
import Services from "../views/homepage/Services.astro";
import ProjectShowCase from "../components/common/project/ProjectShowCase.astro";

import { GetHomeContentUseCase } from "../usecases/home/GetHomeContentUseCase";

const homeData = await GetHomeContentUseCase();

const { about, what_we_are, what_we_do } = homeData;
---

<Layout isDarkMode={true}>
   <main>
      <Hero />
      <About
         about={about}
         whatWeAreTitle={what_we_are.title}
         whatWeAreText={what_we_are.text}
         client:load
      />
      <WhatWeDo text={what_we_do.text} client:load />
      <ProjectShowCase isDarkMode={true}/>
      <Services />
   </main>
</Layout>
